<div class="container skeleton">
  <mat-card>
    <mat-card-title>
      <div class="center-30">
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
      </div>
      <div class="center-50">
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="input-placeholder">
        <ngx-skeleton-loader count="1" appearance="line" animation="pulse" class="w-50"></ngx-skeleton-loader>
      </div>
      <ngx-skeleton-loader count="7" appearance="line" animation="pulse" [theme]="{height: '40px'}"></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</div>
