<mat-card class="card-middle margins bottom-sheet">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Jose Quevedo</mat-card-title>
    <mat-card-subtitle>Your next Angular Guru!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      A pretty cool, fun, and smart guy with really good experience on Angular and also great experience on the Backend side,
      could become your next Angular Guru and take your project to the sky. Creativity, teamwork, patience, devotion, passion, willingness to help,
      easy learning, and self-management are some of his most important attributes. <strong>Hiring him is a decision you won't regret.</strong>
    </p>
  </mat-card-content>
</mat-card>

